.Post {
    max-width:800px;
}

.container {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.post_title{
    font-size: 25px;
    text-align: left;
}
.post_author{
    font-size: 15px;
    float: right
}
.post_body{
    font-size: 20px;
}
.post_category{
    font-size: 20px;
}
.post_score{
    text-align: left;
}
.post_comments{
    text-align: right;
}
.btn_thumbsup{
    margin-right: 10px;
}
.text_btn_openpost{
    text-align: center;
    margin-top: -70px;
}
.btn_openpost{
    background-color: #a8a3ff;
}