.App {
  text-align: center;
}

.row {
  margin-right: 0px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.categories_container{
  float: right;
}
.posts_container{
  float: left;
}
.row_container{
  margin-right: 0px;
}
.home_container{
  text-decoration: none;
  color: #000;
  height: 100px;
  background-color: #dbe6ff;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
}
.noDecoration :hover{
  text-decoration: none;
}
.btn_addpost{
  margin: 50px 0 20px 0
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
